@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.ttf');
}

@media (max-device-width: 640px), (max-device-height: 640px) {
    body {
        width: 232px;
        font-size: 1em;
        font-family: Roboto;
        margin: 0;
        padding: 0;
    }

    h1 {
        padding: 0.1em;
        color: black;
        background-color: lightgray;
        font-size: 2.2em;
        margin-top: -0.1em;
        margin-bottom: 0.3em;
        font-weight: bold;
    }
}

@media (min-device-width: 640px) {
    @media (min-device-height: 640px) {
        body {
            width: 512px;
            font-size: 1.2em;
            font-family: Roboto;
            margin: 0;
            padding: 0;
        }

        h1 {
            padding: 0.1em;
            color: black;
            background-color: lightgray;
            font-size: 3.4em;
            margin-top: -0.1em;
            margin-bottom: 0.3em;
            font-weight: bold;
        }
    }
}

.float-left {
    float:left;
    font-size: 4.35em;
    margin-top: -0.165em;
    margin-bottom: -0.3em;
    margin-right: 0.1em;
    font-weight: normal;
}

pre {
    color: black;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.c1 {
    color: black;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

a {
    color:blue;
    text-decoration:underline;
}

.t {
    background: url('../media/socmedia.png') center center;
}

table {
    border: 1px solid blue;
}
td {
    border: 1px solid red;
}
