@media (max-device-width: 640px), (max-device-height: 640px) {
    body {
        width: 480px;
        font-size: 2.6em;
        font-family: Times New Roman, Georgia, Garamond;
        margin: 0;
        padding: 0;
    }

    h1 {
        padding: 0.1em;
        color: black;
        background-color: rgb(180, 180, 180);
        font-size: 2em;
        margin-top: 0em;
        font-weight: bold;
    }
}

@media (min-device-width: 640px) {
    @media (min-device-height: 640px) {
        body {
            width: 480px;
            font-size: 1.2em;
            font-family: Times New Roman, Georgia, Garamond;
            margin: 0;
            padding: 0;
        }

        h1 {
            padding: 0.1em;
            color: black;
            background-color: rgb(180, 180, 180);
            font-size: 3.2em;
            margin-top: 0em;
            font-weight: bold;
        }
        
    }
}

body {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; /*transform: scale(0.5);*/}
    to   { opacity: 1; /*transform: scale(1.0);*/}
}

.float-left {
    float:left;
    font-size: 4.35em;
    margin-top: -0.165em;
    margin-bottom: -0.3em;
    margin-right: 0.1em;
    font-weight: normal;
}

pre {
    color: black;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.c1 {
    color: black;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

a {
    color:blue;
    text-decoration:underline;
}

table {
    border: 1px solid blue;
}
td {
    border: 1px solid red;
}
